body{
  margin:0;
  background:#0b0f14;
  color:#00ff9c;
  font-family:Arial;
}

#topbar{
  background:#111;
  padding:10px;
  display:flex;
  gap:20px;
}

#main{
  display:flex;
  height:92vh;
}

#mapContainer{
  flex:3;
  background:#000;
}

#panel{
  flex:1;
  background:#111;
  padding:10px;
}

.state{
  fill:#1b2a38;
  stroke:#111;
  stroke-width:2;
  cursor:pointer;
}

.state:hover{
  fill:#2f4c63;
}

.owned{
  fill:#004d2b;
}

.ai{
  fill:#4d0000;
}

button{
  background:#1f2a33;
  color:#00ff9c;
  border:none;
  padding:8px;
  margin:4px;
  cursor:pointer;
}

#startScreen{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
